body {
	font-family: 'Nunito', sans-serif;
	background-color: "black";
}

.col-sm-4 {
	padding-top: 20px;
	padding-bottom: 30px;
}

img {
	width: 100%;
}

.navbar-brand {
	font-family: 'Nunito', sans-serif;
	font-size: 14pt;

}

.map {
	padding-bottom: 25px;
	width: 65%;
}